version: "3.8"

services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
            target: runner
            args:
                BUILDKIT_INLINE_CACHE: 1
        environment:
            NODE_ENV: production
            DATABASE_URL: ${DATABASE_URL}
            AUTH_SECRET: "supersecret" # Change this in production
            AUTH_URL: "http://localhost:3000"
            UPLOAD_PATH: "/app/uploads"
        ports:
            - "3000:3000"
        volumes:
            - uploads:/app/uploads
        depends_on:
            - docker
        extra_hosts:
            - "host.docker.internal:host-gateway"

    worker:
        build:
            context: .
            dockerfile: worker/Dockerfile
        environment:
            NODE_ENV: production
            DATABASE_URL: ${DATABASE_URL}
            UPLOAD_DIR: "/app/uploads"
            DOCKER_HOST: tcp://docker:2375
            # Add this to fix the docker-py connection issue?
            # DOCKER_TLS_VERIFY: ""
            TMPDIR: /workspace
        volumes:
            - uploads:/app/uploads
            - shared-workspace:/workspace
        depends_on:
            - docker
        extra_hosts:
            - "host.docker.internal:host-gateway"

    docker:
        image: docker:dind
        privileged: true
        environment:
            DOCKER_TLS_CERTDIR: ""
        dns:
            - 8.8.8.8
            - 8.8.4.4
        volumes:
            - shared-workspace:/workspace
            - docker_data:/var/lib/docker

volumes:
    uploads:
    shared-workspace:
    docker_data:
